.analytics{
    padding:30px;
    color:white;
}

.analytics-header{
    margin-bottom:30px;
}

.analytics-header h1{
    font-size:42px;
    margin-bottom:8px;
}

.analytics-header p{
    color:#8b95b3;
}
.analytics-row{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
    margin-top:30px;
    align-items:start;
}