.sidebar {
    width: 250px;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 26px 18px;

    background: var(--sidebar);

    border-right: 1px solid var(--border);

    backdrop-filter: blur(25px);

    transition: var(--transition);
}

/* ---------- LOGO ---------- */

.logo{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:45px;
}

.logo-box{

    width:42px;
    height:42px;

    border-radius:12px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:700;
    font-size:20px;

    color:#fff;

    background:linear-gradient(
        135deg,
        var(--primary),
        #8CB6FF
    );

    box-shadow:0 10px 25px rgba(0,0,0,.18);

    transition:var(--transition);
}

.logo h2{

    font-size:24px;

    color:var(--text);

    font-weight:700;
}

/* ---------- TITLE ---------- */

.menu-title{

    font-size:12px;

    color:var(--text-light);

    letter-spacing:2px;

    margin-bottom:18px;
}

/* ---------- MENU ---------- */

.menu{

    display:flex;

    flex-direction:column;

    gap:8px;
}

.menu-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 18px;

    border-radius:14px;

    color:var(--text-light);

    text-decoration:none;

    transition:var(--transition);
}

.menu-item:hover{

    background:var(--card-hover);

    color:var(--text);
}

.menu-item.active{

    background:linear-gradient(
        90deg,
        var(--primary),
        var(--primary-dark)
    );

    color:#fff;

    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.icon{

    font-size:18px;
}

/* ---------- STREAK ---------- */

.streak-card{

    background:var(--card);

    border-radius:18px;

    padding:22px;

    border:1px solid var(--border);

    transition:var(--transition);
}

.streak-label{

    color:var(--text-light);

    font-size:13px;

    margin-bottom:10px;
}

.streak-card h2{

    color:var(--text);

    font-size:30px;

    font-weight:700;
}